@model CRM.WEB.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="col-md-6" style="margin:10px auto">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Change Password</h3>
                </div>
                <div class="card-body">
                    <div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.OldPassword)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.NewPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ConfirmPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                        <div class="white-wrapper"></div>
                        <p>
                            @Html.ValidationSummary(true)
                        </p>

                        <p>
                            <input type="submit" value="Change Password" class="btn btn-default float-right" />
                        </p>
                    </div>
                </div>
            </div>
           
          
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>

        </div>

    }
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        $('#OldPassword').addClass('form-control');
        $('#NewPassword').addClass('form-control');
        $('#ConfirmPassword').addClass('form-control');
    });
    </script>
    }
