@{var UserModel = (CRM.Entity.User)ViewBag.UserModel;} 
@{
    ViewBag.Title = "Question Paper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DJ_Entity.ApplicantExamVM

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
@using (Html.BeginForm("SubmitPaper", "Exam", FormMethod.Post, new { id = "ExamForm"}))
{
@Html.AntiForgeryToken()
    <!-- Default box -->
    <div class="card col-md-9">
        <div class="card-header">
            <h3 class="card-title">Question Set</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>

            </div>
        </div>

        <div class="card-body overflow-auto">
            <div id="QuestionSet">
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="button" class="btn btn-outline-success" id="btnSave" onclick="SaveDraft()">Save</button>
            <button type="submit" class="btn btn-outline-warning float-right" id="btnSubmit">Submit</button>
        </div>
        <!-- /.card-footer-->
    </div>
}
    <div class="col-md-3">

    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
@*https://albert-gonzalez.github.io/easytimer.js/*@

@section scripts{
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $('body').removeClass('sidebar-mini');
        $('body').addClass('sidebar-collapse');
        GetQuestionSetForApplicant();

        $('#ExamForm').on('submit', function () {
            return confirm('Are you sure you want to submit and finish?');
        });
    });
    function GetQuestionSetForApplicant() {
        $('#btnSubmit').hide();
        $('#btnSave').hide();
        $('#QuestionSet').html('Please Wait.....');
        $.ajax({
            url: "@Url.Action("GetQuestionSetForApplicant", "Exam")",
            type: "GET",
            data: { "ApplicantID": "@Model.ApplicantAttempt.Applicant.ApplicantID" },
            dataType: "json",
            headers: {
                'Cache-Control': 'no-cache, no-store, must-revalidate', 
                'Pragma': 'no-cache', 
                'Expires': '0'
            },
        success: function (data) {
            $('#QuestionSet').html('');
            if (data.ReturnStatus === 1)
                {
                $('#QuestionSet').html(data.ReturnData);
                $('#btnSubmit').show();
                $('#btnSave').show();
            }
            else
            {
                $('#QuestionSet').html(data.ReturnMessage);
                $('#btnSubmit').hide();
                $('#btnSave').hide();
            }

        },
        error: function (data) {
            alert(data.toString());
        }
    });
    }

    function SaveDraft() {
        
        var Frm = $('#ExamForm').serialize();
        $.post("@Url.Content( "~/Exam/SubmitPaper")", Frm + "&IsSubmit=0", function (data) {
            if (data.ErrorStatus == 0) {
                //infomessageDialog('Sucsess', data.Messege);
                //msg = data.Messege;
                //getEditSalaryAccount('View');

                //window.location.href = "@Url.Content("~/Home/EndCallSuccess")";
            }
            else {
                alert(data.ErrorMessage);
                //infomessageDialog('Error', data.Messege);
                //$("#alert").show();
                //$("#alert").attr("class", "alert alert-danger alert-dismissible");
                //$("#divMsg").html("<h4><i class='icon fa fa-ban'></i> Alert!</h4>" + data.Messege);
            }
        }).fail(function (response) {
            alert('Error: ' + response.responseText);
        });

    }


</script>
    }
